.dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5722; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

input[type='number'] {
    -moz-appearance: textfield !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

* {
    outline: none;
}

html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: rgba(238, 238, 238, 1);
    font-family: 'PT Sans';
}

a {
    text-decoration: none;
    color: inherit;
    outline: 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a:active {
    text-decoration: none;
}

.svg-24 {
    width: 24px;
    height: 24px;
}

.svg-30 {
    width: 30px;
    height: 30px;
}

.padding-tb {
    padding: 0.3em 0;
}
.hide {
    display: none;
}

.background-page {
    background-color: rgba(238, 238, 238, 1);
    width: 100%;
    max-width: 1368px;
    padding: 0 0.5em;
}

.header-toolbar {
    font-family: 'Comfortaa', cursive;
    max-width: 1368px;
    margin: 0 auto;
    padding: 0 0.5em;
}

.header-toolbar .header-icons {
    border-radius: 50%;
    background: #fff;
    padding: 0.3em 0.4em;
    cursor: pointer;
    position: relative;
    outline: none;
    margin-right: 0.5em;
}

.header-toolbar .header-icons:last-of-type {
    margin-right: 0;
}

.header-toolbar .header-icons:hover {
    background-color: rgba(255,110,64,0.7);
}

.header-toolbar .username {
    max-width:95px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.cursor-pointer{
    cursor: pointer;
}

.hover-underline:hover {
    text-decoration: underline;
}

.primary-text {
    color: #512DA8;
}

.breadcrumb {
    margin-top: 5px;
    font-size: 0.9em;
}

.breadcrumb span{
    white-space: nowrap;
    max-width: 45vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb a {
    color: #525050;
}

.breadcrumb a:hover {
    text-decoration: underline;
    cursor: pointer;
    color:#673AB7;
}

.md-button.small{
    min-width: 35px;
  padding: 1px;
  height:32px;
  line-height: 1em;
  min-height: 25px;
}
.md-button.tiny{
  line-height: 0;
  min-height: 20px;
  height: 25px;
  min-width: 25px;
  font-size: 12px;
}
.social-media img{
    width: 40px;
    height: 40px;
}

.return-and-refund-heading {
    font-weight: bold;
    text-align: center;
}

.return-and-refund-heading span {
    padding: 0em 0.5em;
    border-right: 1px solid black;
    word-wrap: break-word;
    border-bottom: 1px solid black;
}
.return-and-refund-heading span:last-of-type {
    border-right: none;
}
.return-and-refund-content span {
    padding: 0em 0.5em;
    border-right: 1px solid black;
    word-wrap: break-word;
    border-bottom: 1px solid black;
}
.return-and-refund-content span:last-of-type {
    border-right: none;
}
.faq-container {
    margin-top: -3em;
}
.faq-container hr{
    width: 75%;
}
.faq-container .q {
    text-align: center;
    font-weight: bold;
}
.faq-content span{
    padding-bottom: 0.5em;
}
.faq-container div{
    background-color: #fff;
    padding: 1em;
}
.map-address img{
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.contactus-container {
    margin-top:-3em;
}
.contactus-container div {
    background-color: #fff;
}
.contactus-container hr {
    width: 100%;
    padding: 0px;
}
.contactus-container button {
    padding: 0px;
}
.contactus-container md-input-container {
    margin: 5px 0px;
}
.copyright-footer {
    font-size: 0.8em;
    color: #c1bfbf;
}

.footer {
    background: rgb(69,39,160);
    font-family: 'PT Sans';
    color: #fff;
    margin: 1em -0.5em 0 -0.5em;
}

.footer span {
    padding: 4px 0;
}

.content-page-title {
    font-size: 1.5em !important;
}

.aboutus-card {
    background-color: #fff;
    margin: -3em 8em 12em 8em;
    padding: 1em;
}

.distribute {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    color: #FFF;
    text-transform: capitalize;
}

.account-sidenav {
    max-width: 250px;
    position: fixed !important;
    z-index: 59;
    height: 100vh;
    margin-top: 65px;
}

.account-sidenav span {
    font-size: 1.1em;
}
.account-sidenav a {
    text-align: left;
}
.account-content {
    margin-left: 240px;
    margin-right: -0.5em;
}

#md-content{
    overflow: visible;
    z-index: 2;
}

.view-more-btn {
    margin-top: 0.5em;
}

.view-more-btn span{
    padding: 0em 10em;
}

.homepage-top-container {
    margin-top: 0.5em;
}

.homepage-content-container {
    padding: 1em 0;
    margin: 0 -0.5em;
}

.product-cards-container {
    margin: 0 -0.5em;
}

.filler-toolbar {
    background-color: #673AB7;
    margin: 0 -0.5em;
    color: #fff;
    height: 7em;
}

.filler-toolbar a {
    min-width: 0;
    margin: 0;
}

.categories-list-container {
    background-color: #fff;
    margin-right: 0.5em;
}

.categories-list-container md-list {
    padding: 0px;
}

.categories-list-container > span {
    text-align: center;
    padding-top: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
}

#category-title {
    font-family: 'Comfortaa', cursive;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0.5em;
}

.line-around {
   border: 1px solid #666666;
   width: 100%;
}

.line-around>span {
  padding:0 15px;
  background-color: rgba(238, 238, 238, 1);
}

.home-card-container md-card{
    margin-right: 0em;
}

.home-card-container div {
    padding-left: 0.5em;
}

.home-card-container .video {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.homepage-top-right div {
    padding-bottom: 0.4em;
}

.homepage-top-left {
    padding-right: 0.5em;
}

.product-card {
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

/*.product-card img {
    max-width: 100%;
    max-height: 200px;
}*/

.product-card md-divider.horizontal {
    padding: 0.3em 0.5em 0.2em 0.5em;
    margin: 0em 1em;
}

.product-card-content {
    padding: 0.5em;
}

.product-card-content md-icon {
    margin: 0;
}

.product-name {
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}

.product-price {
    font-weight: bold;
    font-size: 1.1em;
}
.product-margin {
    color: #FF5722 !important;
}

.feature-parent {
    margin-right: 1em;
}

/*.product-card-content span{
    text-overflow: ellipsis;
    padding-top: 0em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    padding-right: 0.2em;
}*/

.product-page-card-content .feature-title {
    color: #fff !important;
}

.feature-title {
    font-size: 0.9em;
    margin: 0px;
    padding: 0px;
    color: #727272;
}

.strike {
     text-decoration: line-through;
     padding-bottom: 0em;
}

.product-card-wrap {
}

.category-title {
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    text-align: center;
}

.pagination-directive {
    padding-top: 1em;
}

.pagination-directive md-button span {
    font-family: 'Comfortaa', cursive;
}

.popup-title {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.no-product-container {
    margin: 0 auto;
    text-align: center;
}

.404-container img{
    min-width: 450px;
}
/** product page specific css **/
.multiple-images {
    padding: 0em !important;
    outline: 0;
    cursor: pointer;
}

.active-image {
    background: #FF5722;
    height: 3px;
    margin-top: 2px;
}

.multiple-images-container {
    padding: 0em !important;
}
.multiple-images-container div {
    padding: 0.05em !important;
}
.multiple-images img{
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width: 60px;
}

.product-page-card {
    background-color: #fff;
    text-align: center;
}

.product-page-card table {
    width: 60%;
}

.lot-pricing-head td {
    font-size: 0.9em;
}

.product-page-card-content {
    background: #512DA8;
    color: #fff;
    padding: 2em 0em !important;
}

.product-page-card-content md-divider {
    background: #fff;
    border-top-width: 2px solid #fff;
    padding: 0;
}

.product-price .feature-title {
    font-size: 0.9em;
}

.product-price span {
    font-size: 1.3em;
}

.product-details-wrap {
    background: #fff;
    margin-right: 0.5em;
    padding-left: 1em;
}

.area-title {
    padding-top: 1em;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.product-details-wrap {
    padding-bottom: 1em;
}

.product-details-wrap .feature-parent {
    padding-top: 1em;
}

.product-description-container {
    margin: 1em 0;
}

.product-seller-details-container {
    background-color: #fff;
}

/** end product page specific css **/

.social-container {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 1.1em;
}

.social-follow-buttons span{
    max-height: 40px;
    margin: 0 auto;
}

/** ngProgress loader css*/
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}
.logo-container{
    height: 50px;
    width:50px;
}

.image-display{
    padding: 0.5em 0.5em;
}
.image-display div{
    padding: 0.5em 0.5em;
}
/** end ngProgress loader css*/
.progress-bar-container{
    padding: 0px auto;
    width:60%;
    height: 2px;
    margin:2px auto;
    margin-bottom: 2px;


}
.progress-bar{
    margin: 0px;
    width: 100%;

}

.control_prev, .control_next {
  background: #2a2a2a;
  background: #FF5722;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.control_prev:not([disabled]):hover,.control_next:not([disabled]):hover {
  opacity: 1;

  -webkit-transition: all 0.2s ease;
}
.control_prev[disabled],.control_next[disabled] {

  cursor: default;
  opacity: 0.3;
}

.control_prev {

    border-radius: 5px 0 0 5px ;
}

.control_next {
  border-radius:0 5px 5px 0;
}
.slider-images{
    margin: 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.zoom-btn{
    position: relative;
    padding: 5px;
    margin-top:5px;
    margin-bottom: 0px;
    margin-left:10px;
    margin-right:5px;
}
.display-image{

}

.background-shadow{
    position: fixed;
    top:0px;
    left:0px;
    right: 0px;
    bottom:0px;
    background: #2a2a2a;
    opacity: 0.5;
    z-index:999;

}

.large-display-image-container{
    position: absolute;
    top:0px;
    width: 100%;
     z-index:999;


}
.large-display-image{
    border:10px solid white;
    margin-top:4em;
    z-index:1000;
}

.close-button{
    position: relative;
    margin-left:5px;
    margin-top:25px;
    z-index:2000;
    padding:2px;
    display: block;

}

.loading-progress-container{
    opacity: 1.0;
    position: fixed;
    top:50%;
    width: 100%;
    z-index:1000;
 }

.loading-progress-bar{
    margin:0 auto;
    width: 50%;
}

.large-img-next,.large-img-prev{
    margin:auto 0px;
    z-index:2000;

}
.large-img-next{
    margin-left: -8px;
}
.large-img-prev{
    margin-right: -8px;
}
.formError{
    margin-bottom: 10px;
}

.white-card {
    background: #fff;
}

.small-font {
    font-size: 0.9em !important;
}
.large-font {
    font-size: 1.3em;
}

.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}

.space {
    margin-right: 5px;
}

.text-danger {
    color: red;
}

.text-success {
    color: #2D882D;
}

.wrap-word {
    word-wrap: normal;
}

.feed-details {
    font-family: 'Comfortaa', cursive;
    bottom: 0;
    position:absolute;
    width:100%;
    color: #fff;
    background: #512DA8;
    border-top: 0.1em solid #FFF;
}

.blog-page {
    max-width: 1000px;
    margin: 0 auto;
}
.blog-list {
    padding: 10px 0px !important;
}

.blog-list span {
    font-size: 1em !important;
}

.blog-content {
    width: 100%;
    max-width: 700px;
    background: #fff;
    margin: 0 auto;
}

.padding-1em {
    padding: 1em;
}

.padding-left-1em {
    padding-left: 1em;
}

.test-class {
    animation-name: bounce;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.feed-footer-details {
    max-height: 70vh !important;
    overflow-y: scroll;
    font-family: 'PT Sans';
}

.feed-footer-details div {
    padding: 0.25em 0.25em !important;
}

.desktop-filter{
    margin-top:30px;
    border-top:2px solid #B0B0B0;
    border-bottom:2px solid #B0B0B0;
    width:80%;
    margin:auto;
}

.desktop-filter-panel{
  position: absolute;
  z-index: 10;
  /*background: #fff;*/
  padding: auto;
  width: 100%;
}
.desktop-filter-panel>div{

  background: #fff;
  padding:20px;
  border:1px solid rgba(0,0,0,0.2);

}

.mobile-filter{
  width:100%;
  background-color: #FF5722;
  font-family:'Comfortaa';
  font-size:1.2em;
  margin:0;
  bottom:0px;
  height:40px;
  padding:10px;
  color: #fff;
   font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
   position: fixed;
   cursor: pointer;
}

.mobile-filter-panel{
  max-height:90%;
  overflow:auto;
  margin:10px;
}
.mobile-filter-footer{
  position:fixed;
  bottom:0;
  width:100%;
  background:#fff;
  z-index: 10;
  /*border-top:1px solid rgba(255,255,255,0.2);*/
}

#primary_nav_wrap
{

}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    cursor: pointer;
    color: rgba(0,0,0,.6);
    font-weight:700;
    font-size:12px;
    line-height:40px;
    padding:0 15px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}


#primary_nav_wrap ul li:hover
{
    background:#f6f6f6
}

#primary_nav_wrap ul li:hover a > img
{
     -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.small-label {
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

.ruler-divider {
    border-top: 0.05em solid #fff;
}

/* Mobile filter Dialog Properties*/

.filter-property-container{
   background-color:#F0F0F0;

    /*color:#fff;*/
    /*padding:5px;*/
}

.no-bottom-margin {
    margin-bottom: 0;
}

.grey-label{
  color: grey;
  margin:0;
  cursor:pointer;
}
.custum-input-label{
    color: grey;
    font-size: 0.9em;
}
.price-input{
  width:6em;
  margin:0px
}
.color-box-container{
  cursor:pointer;
  padding:5px;
}
.color-box{
   height:18px;
   width:18px;

   border:1px solid #D1D1D1;
   border-radius: 2px;
   cursor:pointer;
}


.color-box-selected{
    border:2px solid #FFAA00;
    height:20px;
    width:20px;
}
.color-box-selected>span:before{
    content:'\2713';
}
.color-box-container:hover>div{
    border:2px solid #FFAA00;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.filter-property{
    line-height: 40px;
    text-transform: uppercase;
    padding-right: 10px;
    font-size:0.9em;
    text-align: center;
    border-bottom: 1px solid #C8C8C8;
}

.shake-animation {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    -webkit-animation-delay: 1s; /* Safari */
    animation-delay: 1s;
}

.feed-product-image {
    max-width:100%;
    max-height:100%;
    border:5px solid #fff;
    border-radius: 3px;
}

.feed-product-image.ng-hide-add, .feed-product-image.ng-hide-remove {
    transition: all linear 1s;
    display: block !important;
}

.feed-product-image.ng-hide-add.ng-hide-add-active, .feed-product-image.ng-hide-remove {
    opacity: 0;
}

.feed-product-image.ng-hide-add, .feed-product-image.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.like-dislike-card {
    z-index:10;
    position: absolute;;
    top: 120px;
    opacity: 1;
    min-width: 250px;
    margin: 0 auto;
}

.like-dislike-card.ng-hide {
    transition:1s linear all;
    opacity:0;
}

.like-dislike-card.ng-show {
    transition: 0.5s linear all;
    opacity: 1;
}

.like-dislike-card div {
    background:#fff;
    /*opacity:0.8;*/
    border:4px solid #fff;
    max-width:50%;
    border-radius: 4px;
    padding-bottom: 2px;
}

.like-dislike-card span{
    margin: 4px 0px 0px 5px;
    text-transform: capitalize;
}

.bp-instructions-popup md-tabs-canvas {
    display: none;
}

.swipe-gesture-div-right div{
    animation: swipeRight 1s ease 1s infinite forwards;
}

.swipe-gesture-div-left div{
    animation: swipeLeft 1s ease 1s infinite;
}

.max-width-50 {
    max-width: 50px !important;
}

.max-width-100 {
    max-width: 100px !important;
}

.thumbnail-image {
    cursor: pointer;
    /*height: 50px;*/
    margin: 0.3em 1px 0px 0.3em;
    border: 1px solid #a2a6ac;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px #a2a6ac, inset 0px 0px 2px #a2a6ac;
    -moz-box-shadow: 0px 0px 3px #a2a6ac, inset 0px 0px 2px #a2a6ac;
    box-shadow: 0px 0px 3px #a2a6ac, inset 0px 0px 2px #a2a6ac;
}

.thumbnail-image:hover, .thumbnail-image.active {
    border-color: #FF5722;
    -webkit-box-shadow: 0px 0px 3px #FF5722, inset 0px 0px 2px #FF5722;
    -moz-box-shadow: 0px 0px 3px #FF5722, inset 0px 0px 2px #FF5722;
    box-shadow: 0px 0px 3px #FF5722, inset 0px 0px 2px #FF5722;
}

.gallery-image-container {
    overflow: hidden;
    height: 410px;
}

.gallery-main {
    max-width:100%;
    max-height:100%;
    cursor: pointer;
    display: none;
}

.gallery-main.active {
    display: block;
}

.gallery-popup-main {
    width: 100%;
    height: 100%;
}

.gallery-popup-main > div {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none !important;
}

.gallery-popup-main > div::-webkit-scrollbar { width: 0 !important }

.hide-scrollbar::-webkit-scrollbar { width: 0 !important }
.hide-scrollbar { -ms-overflow-style: none; }
.hide-scrollbar { overflow: -moz-scrollbars-none !important; }

md-dialog.fullscreen-dialog {
    max-width: 90%;
    max-height: 90%;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.gallery-popup-container {
    background-color:#fff;
    margin:0.3em;
}

/** css for consignment page **/
.consignment {
    max-width: 900px;
    margin: 0 auto;
}

.content.radio-list {
    padding: 0 0.5em !important;
}

.radio-list > .credit-payment-text {
    margin: -1em 0 1em 2.3em;
    color: #673AB7;
    font-size: 0.8em;
}

.radio-list .cod-payment-text {
    font-size: 0.8em;
    color: #673AB7;
}

.radio-list > md-radio-button {
    padding: 0.8em 0;
}
.consignment > .action {
    padding: 0.5em 0 2em 0;
}

.action > .md-button {
    font-size: 1.1em;
}

.consignment > .action-mobile {
    position: fixed;
    width: 100%;
    bottom: 0;
    max-width: 900px;
}

.action-mobile > .md-button {
    margin: 0;
    font-size: 1.1em;
}

.consignment > .section {
    background-color: #fff;
    margin: 1em 0.5em 0em 0.5em;
}

.section > .header {
    font-family: 'Comfortaa', cursive;
    background-color: #673AB7; /*#D1C4E9;*/
    text-transform: uppercase;
    padding: 0.5em 0;
    color: #fff;
}

.section > .content {
    padding: 0.5em 0.5em;
}

.section > .content span {
    padding: 0.1em 0;
}

.section > .content  a {
    text-decoration: underline;
    color: #673AB7;
}

.section .product-link {
    text-decoration: none !important;
    color: #000 !important;
    font-weight: bold;
}

.content.padding-up-down > span {
    padding: 0.2em 0 !important;
}

.lot-number {
    cursor: pointer;
}

.custom-md-icon {
    position: relative;
    margin: 0;
    cursor: pointer;
}

.lot-pricing-text {
    font-size: 0.9em;
    text-decoration: underline;
    color: #01d4fb;
    cursor: pointer;
}

.lot-popup {
    font-family: 'PT Sans';
    padding: 1em 0.5em;
}

.lot-popup > .details {
    margin: 0.5em 0;
    padding: 0.5em 0.5em;
    background-color: rgba(238, 238, 238, 1);
}

.details > div {
    padding: 1em 0;
}

.lots-count > div{
    border: 1px solid #000;
    padding: 0 0.2em;
}

.lots-count .lots {
    font-size: 1.3em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.lots-count > .md-button {
    font-size: 2.5em;
}

.lot-pricing-head {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.5em;
}

.lot-pricing-detail {
    text-align: center;
    padding: 0.3em 0;
}

.lot-pricing-detail.active {
    background-color: #673AB7;
    color: #fff;
}
