<div class="footer" layout-padding layout-wrap layout="row" layout-align="center start" >
    <div layout="row" flex="33" flex-sm="100" flex-xs="100" layout-align="start start" layout-wrap>
        <span flex="100">
            <a href="http://seller.wholdus.com" target="_blank">Set Distribution</a>
        </span>
        <span flex="100">
            <a href="/aboutus">About Us</a>
        </span>
        <span class="cursor-pointer" data-ng-click="buyNow($event)" flex="100">
            Join Buyer Network
        </span>
        <span flex="100">
            <a href="/contactus">Contact Us</a>
        </span>
    </div>

    <div layout="row" flex="33" flex-sm="100" flex-xs="100" layout-align="start start" layout-wrap>
        <span flex="100">
            <a href="/return-refund-policy">Return &amp; Refund Policy</a>
        </span>
        <span flex="100">
            <a href="/faq">FAQs</a>
        </span>
        <!-- <span flex="100">
            <a href="/blog/home">Blog</a>
        </span> -->
        <span flex="100">
            <a href="/we-are-social" target="_blank">Follow Us</a>
        </span>
    </div>

    <div layout="row" flex="33" flex-sm="100" flex-xs="100" layout-wrap layout-align="start start" class="social-media">
        <div class="space">
            <a data-ng-href="https://www.facebook.com/wholdus" target="_blank">
                <img src="images/facebook.png" />
            </a>
        </div>
        <div class="space">
            <a data-ng-href="https://www.linkedin.com/company/wholdus.com" target="_blank">
                <img src="images/linkedin.png" />
            </a>
        </div>
        <div class="space">
            <a data-ng-href="https://plus.google.com/b/116373011527867126882/116373011527867126882/about?hl=en&pageId=116373011527867126882" target="_blank">
                <img src="images/googleplus-2.png" />
            </a>
        </div>
        <div class="space">
            <a data-ng-href="https://twitter.com/wholdus" target="_blank">
                <img src="images/twitter.png" />
            </a>
        </div>
        <div class="space">
            <a data-ng-href="https://www.instagram.com/wholdus" target="_blank">
                <img src="images/instagram.png" />
            </a>
        </div>
        <div class="space">
            <a data-ng-href="https://www.youtube.com/channel/UCYyrESMJLLvCiKDmyaL03Ig" target="_blank">
                <img src="images/youtube.png" />
            </a>
        </div>
    </div>
    <div layout="row" flex="100" layout-align="center start" class="copyright-footer">
        <span>&copy; 2015-2016 Probzip Business Solutions Pvt Ltd</span>
    </div>
</div>
