<md-toolbar class="md-medium-tall md-hue-2" id="header-toolbar">
      <div layout="row" layout-fill>
            <md-button  aria-label="Settings" flex-xs="20" flex-md="5" flex-gt-md="5" flex-sm="10">
               <md-icon md-svg-icon="images/wholdus-logo.svg"></md-icon>
            </md-button>
            <h1 hide-xs show-gt-xs>
                  <a href="/">Wholdus</a>
            </h1>
            <span flex></span>
            <md-button aria-label="customer_support">
               <span>+91-7895161705</span>
            </md-button>
      </div>
</md-toolbar>
