<md-toolbar class="md-medium-tall md-hue-2" id="header-toolbar">
      <div layout="row" layout-fill>
      <div layout="column" layout-align="center start">
              <svg data-ng-click="catSidenav()" style="width:40px;height:20px" viewBox="0 0 20 20">
                   <path fill="#fff" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
              </svg>
         </div>
            <md-button data-ng-href="/" md-no-ink aria-label="Settings" flex-xs="20" flex-gt-xs="5" flex-md="5" flex-gt-md="5" flex-sm="10">
               <md-icon md-svg-icon="images/wholdus-logo.svg"></md-icon>
            </md-button>
            <h1 hide-xs show-gt-xs>
                  <a href="/">Wholdus</a>
            </h1>
            <span flex></span>
            <div layout="row" layout-align="center center" style="max-height=50px">
                  <md-button class="md-raised md-warn" data-ng-href="http://seller.wholdus.com/distribute-on-wholdus" target="_blank" aria-label="distribute-on-wholdus">
                      <span>Distribute</span>
                  </md-button>
                  <md-button hide-xs show-gt-xs aria-label="customer_support">
                      <span>+91-7895161705</span>
                  </md-button>
            </div>
      </div>
</md-toolbar>
