<div layout="row" flex>
    <div layout="row" flex="50" layout-align="center center">
        <a data-ng-href="" data-ng-click="btnClicked($event, -1)">
            <md-button data-ng-disabled="page.current <= 1" data-ng-disabled="$scope.page.current<=0" class="md-raised md-warn">back</md-button>
        </a>
    </div>
    <div layout="row" flex="50" layout-align="center center">
        <a data-ng-href="" data-ng-click="btnClicked($event, 1)">
            <md-button data-ng-disabled="page.current >= page.total" class="md-raised md-warn">next</md-button>
        </a>
    </div>
</div>
