<div layout="row" class="product-card md-whiteframe-4dp" layout-wrap flex md-ink-ripple>
    <a ng-href="{{::product.url}}" layout="row" layout-align="center center" flex="100" class="img-box">
        <img src="{{::product.imageUrl}}" />
    </a>
    <div layout="row" flex="100" layout-wrap layout-align="start start">
        <div layout="row" flex="100" style="padding-bottom:0.5em" ng-if="!store" layout-wrap>
            <div flex="50" ng-click="toggleShortlist($event)" layout="row" layout-align="center center">
                <div layout="row">
                    <md-icon ng-if="!shortlisted" class="svg-30">
                        <svg fill="#000" class="svg-30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
                        </svg>
                    </md-icon>
                    <md-icon ng-if="shortlisted" class="svg-30">
                        <svg fill="#FF5722" class="svg-30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                        </svg>
                    </md-icon>
                </div>
            </div>
            <div flex="50" layout="row" layout-align="center center" ng-click="toggleCartStatus($event)">
                <div layout="row">
                    <md-icon ng-if="product.lotsInCart==0" class="svg-30">
                        <svg fill="#000" class="svg-30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0zm18.31 6l-2.76 5z" fill="none"/>
                            <path d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-9.83-3.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4h-.01l-1.1 2-2.76 5H8.53l-.13-.27L6.16 6l-.95-2-.94-2H1v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.13 0-.25-.11-.25-.25z"/>
                        </svg>
                    </md-icon>
                    <md-icon ng-if="product.lotsInCart!=0" class="svg-30">
                        <svg fill="#FF5722" class="svg-30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </md-icon>
                </div>
            </div>
            <a flex="50" style="padding-top: 1em;" layout="row" layout-align="center center" ng-if="product.storeUrl" ng-href="{{::product.productShareText}}">
                <div layout="row">
                    <md-icon class="svg-30">
                        <svg class="svg-30" viewBox="0 0 24 24">
                            <path fill="#000000" d="M16.75,13.96C17,14.09 17.16,14.16 17.21,14.26C17.27,14.37 17.25,14.87 17,15.44C16.8,16 15.76,16.54 15.3,16.56C14.84,16.58 14.83,16.92 12.34,15.83C9.85,14.74 8.35,12.08 8.23,11.91C8.11,11.74 7.27,10.53 7.31,9.3C7.36,8.08 8,7.5 8.26,7.26C8.5,7 8.77,6.97 8.94,7H9.41C9.56,7 9.77,6.94 9.96,7.45L10.65,9.32C10.71,9.45 10.75,9.6 10.66,9.76L10.39,10.17L10,10.59C9.88,10.71 9.74,10.84 9.88,11.09C10,11.35 10.5,12.18 11.2,12.87C12.11,13.75 12.91,14.04 13.15,14.17C13.39,14.31 13.54,14.29 13.69,14.13L14.5,13.19C14.69,12.94 14.85,13 15.08,13.08L16.75,13.96M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C10.03,22 8.2,21.43 6.65,20.45L2,22L3.55,17.35C2.57,15.8 2,13.97 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12C4,13.72 4.54,15.31 5.46,16.61L4.5,19.5L7.39,18.54C8.69,19.46 10.28,20 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z" />
                        </svg>
                    </md-icon>
                </div>
            </a>
            <div flex="50" style="padding-top: 1em;" layout="row" layout-align="center center" ng-click="productEditPopup($event)" ng-if="product.storeUrl">
                <div layout="row">
                    <md-icon>
                        <svg fill="#000000" class="svg-30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </md-icon>
                </div>
            </div>
        </div>
        <md-button class="md-raised md-warn" flex="100" ng-if="store" ng-click="placeOrder($event, product)">
            PURCHASE
        </md-button>
        <!-- <div layout="row" flex="100" style="padding-bottom:0.5em" ng-if="store">
            <span flex="100" class="text-center small-font" ng-click="placeOrder($event, product)">PURCHASE REQUEST</span>
        </div> -->
        <a layout="row" flex="100" layout-wrap class="product-card-details" ng-href="{{::product.url}}">
            <span flex="100" class="product-name">{{::product.name}}</span>
            <span flex="100" class="small-font padding-tb">{{::product.details.fabric_gsm}}</span>
            <div layout="row" flex="100" layout-align="start center" layout-wrap>
                <div flex flex-xs="100" ng-if="loggedIn && !store">
                    <span class="product-price" flex="100">Rs. {{::product.min_price_per_unit | currency:'':0}}</span>
                </div>
                <div flex flex-xs="100" ng-if="store && !product.buyerstore.buyer_store_discounted_price">
                    <span class="product-price" flex="100">Rs. {{::product.price_per_unit | currency:'':0}}</span>
                </div>
                <div layout="row" layout-wrap flex flex-xs="100" layout-align="start center" ng-if="store && product.buyerstore.buyer_store_discounted_price">
                    <span class="product-price" flex="50" flex-xs="100">Rs. {{::product.buyerstore.buyer_store_discounted_price | currency:'':0}}</span>
                    <!-- <span class="discount-number" flex-xs="100" show-xs>{{::product.buyerstore.buyer_store_discount}}% Discount</span> -->
                    <span class="non-discount-price" flex="50" flex-xs="100">Rs. {{::product.price_per_unit | currency:'':0}}</span>
                </div>
                <div flex layout="row" flex-xs="100" ng-if="!store">
                    <span class="feature-title space" style="padding-top: 0.1em;">Lot Size</span>
                    <span class="bold">{{::product.lot_size}}</span>
                </div>
            </div>
            <div layout="row" ng-if="store && product.buyerstore.buyer_store_discounted_price" flex="100">
                <span class="discount-number" flex>{{::product.buyerstore.buyer_store_discount}}% Discount</span>
            </div>
        </a>
        <a layout="row" flex="100" layout-wrap class="product-card-details" ng-href="{{::product.url}}" ng-if="product.storeUrl && product.buyerstore.buyer_store_discounted_price">
            <span flex="100" class="text-center small-font">Retail Details</span>
            <div layout="row" layout-wrap flex="100" layout-align="start center">
                <span class="product-price" flex="50" flex-xs="100">Rs. {{product.buyerstore.buyer_store_discounted_price | currency:'':0}}</span>
                <span class="non-discount-price" flex="50" flex-xs="100">Rs. {{::product.price_per_unit | currency:'':0}}</span>
            </div>
            <div layout="row" ng-if="product.buyerstore.buyer_store_discounted_price" flex="100">
                <span class="discount-number" flex>{{product.buyerstore.buyer_store_discount}}% Discount</span>
            </div>
        </a>
    </div>
</div>
