<div layout="row" class="product-card" data-ng-click="cardClicked()" md-whiteframe="4">
    <div layout="column" layout-align="center center" style="width:200px">
        <img src="{{product.imageUrl}}" />
    </div>
    <div layout="column" class="product-card-content">
        <span class="product-name">
            <a href="{{product.url}}">{{product.name}}</a>
        </span>
        <span>Rs. <span class="product-price">{{product.min_price_per_unit | currency:'':0}}</span></span>
        <div layout="row" layout-wrap>
            <div layout="column" class="feature-parent">
                <span class="feature-title">retail price</span>
                <span>{{product.price_per_unit}}</span>
            </div>
            <div layout="column" class="feature-parent product-margin">
                <span class="feature-title">your margin (upto)</span>
                <span>{{(product.price_per_unit - product.min_price_per_unit)*100/product.price_per_unit |  number:0}}%</span>
            </div>
            <div layout="column" class="feature-parent">
                <span class="feature-title">manufacturer</span>
                <span>{{product.seller.company_name}}</span>
            </div>
        </div>
    </div>
</div>
