<div layout="row" layout-wrap flex="100" class="section md-whiteframe-6dp" ng-if="!cart.product_count">
    <div flex="100" layout="row" class="content" layout-align="center center" layout-wrap>
        <span flex="100">No products added to consignment</span>
        <md-button class="md-warn md-raised" href='/' style="text-decoration:none">Continue Shopping</md-button>
    </div>
</div>
<div layout="row" layout-wrap flex="100" class="section md-whiteframe-6dp" ng-if="cart != 'undefined' && cart.product_count > 0">
    <div flex="100" class="header" layout-align="center center" layout="row">
        <span>consignment summary</span>
    </div>
    <div flex="100" layout="row" class="content" layout-align="center center">
        <span flex></span>
        <div layout="column">
            <span>Total Cost</span>
            <span>Rs. {{cart.final_price}}</span>
        </div>
        <span flex></span>
        <div layout="column">
            <span>Total Products</span>
            <span>{{cart.product_count}}</span>
        </div>
        <span flex></span>
        <div layout="column">
            <span>Total Pieces</span>
            <span>{{cart.pieces}}</span>
        </div>
        <span flex></span>
    </div>
</div>
<div layout="row" layout-wrap flex="100" class="section md-whiteframe-6dp" ng-repeat="sc in cart.sub_carts" ng-if="sc.product_count>0">
    <div flex="100" class="header" layout-align="center center" layout="row">
        <span>{{::sc.seller.company_name}}</span>
    </div>
    <div layout="row" flex="100" class="content" layout-wrap style="border-bottom:2px solid #B6B6B6" ng-repeat="ci in sc.cart_items">
        <div layout="row" flex="100" style="padding: 0.5em 0">
            <a flex class="product-link" ng-href="{{::ci.product.url}}">{{::ci.product.display_name}}</a>
            <md-icon md-ink-ripple class="custom-md-icon" ng-click="remove(ci.product.productID)">
                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </md-icon>
        </div>
        <div layout="row" flex="100">
            <div layout="row" flex layout-wrap>
                <div layout="column" flex="50">
                    <span class="feature-title">Total Price</span>
                    <span>Rs. {{::ci.final_price}}</span>
                </div>
                <div layout="column" flex="50">
                    <span class="feature-title">Lots</span>
                    <span layout="row" class="lot-number" ng-click="changeLots($event, ci.product, ci.lots)">
                        <span class="space">{{::ci.lots}}</span>
                        <md-icon md-ink-ripple class="custom-md-icon">
                            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                                <path d="M0 0h24v24H0z" fill="none"/>
                            </svg>
                        </md-icon>
                    </span>
                    <span class="lot-pricing-text" ng-click="changeLots($event, ci.product, ci.lots)">see lot pricing</span>
                </div>
                <div layout="column" flex="50">
                    <span class="feature-title">Price Per Piece</span>
                    <span>Rs. {{::ci.calculated_price_per_piece}}</span>
                </div>
                <div layout="column" flex="50">
                    <span class="feature-title">Pieces</span>
                    <span>{{ci.pieces}}</span>
                </div>
            </div>
            <div layout="row" layout-align="center center" style="max-width: 100px;">
                <img ng-src="{{::ci.product.image.absolute_path}}" />
            </div>
        </div>
    </div>
    <div flex="100" class="content" layout="row" layout-wrap>
        <span flex="50" class="bold">Shipping Charge</span>
        <span flex="50">Rs. {{::sc.shipping_charge}}</span>
        <span flex="50" class="bold">Subtotal</span>
        <span flex="50">Rs. {{::sc.final_price}}</span>
    </div>
</div>

<div class="section md-whiteframe-6dp" flex="100" layout='row' layout-wrap ng-if="cart != 'undefined' && cart.product_count > 0">
    <div layout="row" class="content" flex="100">
        <span flex hide-xs></span>
        <span class="space" show-xs hide-gt-xs></span>
        <span class="bold space">Grand Total</span>
        <span flex hide-xs></span>
        <div layout="row" layout-wrap flex>
            <span flex="100">Rs. {{::cart.final_price}}</span>
            <span flex="100" class="small-font secondary-text-color">including shipping charges</span>
        </div>
        <span flex hide-xs></span>
    </div>
</div>

<span ng-if="isMobile" flex="100" style="height:50px;"></span>
<div class="action" flex="100" layout-align="center center" layout="row" ng-if="!isMobile && cart.product_count>0">
    <span flex hide-xs></span>
    <md-button class="md-raised" flex hide-xs ng-href="/">continue shopping</md-button>
    <md-button class="md-raised md-warn" flex ng-click="proceed(step)" ng-disabled="updateApi">proceed</md-button>
    <span flex hide-xs></span>
</div>

<div class="action-mobile" flex="100" layout-align="center center" layout="row" ng-if="isMobile && cart.product_count>0">
    <md-button class="md-raised md-warn" flex ng-click="proceed(step)" ng-disabled="updateApi">proceed</md-button>
</div>
