<md-dialog aria-label="Fav Button Feedback" ng-cloak>
    <md-dialog-content class="bp-instructions-popup-content text-center">
        <div flex="100" layout="row" layout-padding layout-wrap data-ng-if="favButtonFeeback == 1">
            <span flex="100">You have <span class="bold text-danger">ADDED THIS PRODUCT TO YOUR STORE</span></span>
            <span flex="100">You can view your store from My Store Link</span>
        </div>
        <div flex="100" layout="row" layout-padding layout-wrap data-ng-if="favButtonFeeback == -1">
            <span flex="100">You have <span class="bold">REJECTED</span> this product</span>
            <span flex="100">You can review the rejected products rejected page and add them to favorites from there</span>
        </div>
        <div flex="100" layout="row" layout-align="center center">
            <md-button class="md-raised md-warn" ng-click="cancel()">OK</md-button>
        </div>
    </md-dialog-content>
</md-dialog>
