<div layout="row" layout-fill wu-account-sidenav></div>
<div layout="row" flex="100" class="account-content" layout-wrap data-ng-if="!noProducts">
    <div layout="row" flex="100" style="margin-top:1em">
        <md-toolbar data-ng-if="pageSettings.responded==1" class="md-toolbar-tools md-warn">
            <div>
                <md-icon class="space">
                    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </md-icon>
            </div>
            <span>Favorites</span>
        </md-toolbar>
        <md-toolbar data-ng-if="pageSettings.responded==2" class="md-toolbar-tools md-warn">
            <div>
                <md-icon class="space">
                    <svg style="width:24;height:24" viewBox="0 0 24 24">
                        <path fill="#FFF" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                    </svg>
                </md-icon>
            </div>
            <span>Dislikes</span>
        </md-toolbar>
    </div>
    <div layout="row" layout-wrap class="product-card-wrap" data-ng-if="!noProducts" style="margin-bottom:1em;">
        <div layout="row" data-ng-repeat="p in products" class="product-card-container">
            <div layout="row" wu-product product="p.product" style="width: 100%;max-width: 620px;"></div>
        </div>
    </div>
</div>
<div layout="column" flex class="account-content" data-ng-if="noProducts" layout-align="center center">
    <h1>No more products</h1>
    <md-button class="md-raised md-warn" data-ng-href="account/hand-picked-products?filter=favorite">Go to favorites</md-button>
</div>
