
<div layout="row" layout-fill wu-account-sidenav></div>
<div layout="row" flex="100" class="account-content" data-ng-if="!noProducts" layout-wrap md-swipe-left="favButton($event, -1, 1)" md-swipe-right="favButton($event, 1, 1)">
    <div flex="100" layout="column" layout-align="center center">
        <div flex layout-align="center center" layout="column" style="padding-top:0.3em">
            <div style="height:64vh; width:90vw" layout="column" layout-align="center center">
                <div layout="row" layout-align="center center" class="like-dislike-card" data-ng-show="productLikeStatus==2">
                    <div layout="row" layout-align="center center" md-whiteframe='12'>
                        <svg style="width: 20%;" fill="#ff1a1a" viewBox="1 -1 22 23" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                        </svg>
                        <span class="space-left bold large-font" style="color:red">LIKE</span>
                    </div>
                </div>
                <div layout="row" layout-align="center center" class="like-dislike-card" data-ng-show="productLikeStatus==1">
                    <div layout="row" layout-align="center center" md-whiteframe='12'>
                        <svg style="width: 20%;" viewBox="1 0 22 23">
                            <path fill="#000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                        </svg>
                        <span class="space-left bold large-font" style="color:black">DISLIKE</span>
                    </div>
                </div>
                <img class="feed-product-image" data-ng-src="{{productToShow.imageUrl}}" image-on-load="imageLoaded()" md-whiteframe="12" />
            </div>
        </div>
    </div>
    <div style="height:80px;" flex="100" show-xs hide-gt-xs></div>
</div>
<div layout="column" flex class="account-content" data-ng-if="noProducts" layout-align="center center">
    <h1>No more products</h1>
    <md-button class="md-raised md-warn" data-ng-href="/account/hand-picked-products?filter=favorite">Go to favorites</md-button>
</div>
