
<div layout="row" layout-fill wu-account-sidenav></div>
<div layout="row" flex="100" class="account-content" layout-wrap data-ng-if="!noProducts">
    <div flex="100" layout="row" layout-padding layout-wrap>
        <div flex layout-align="center center" layout="row" layout-wrap>
            <div flex="100" layout-align="center center" layout="row" class="progress-bar-container">
                <md-progress-linear md-mode="indeterminate" data-ng-show="displayImageLoading" class="progress-bar md-warn md-hue-5"></md-progress-linear>
            </div>
            <div flex="100" layout-align="center center" layout="row" data-ng-show="!displayImageLoading">
                <div layout="column" class="md-whiteframe-12dp white-card">
                    <img data-ng-src="{{productToShow.imageUrl}}" ng-style="displayImageStyle" image-on-load="imageLoaded()"/>
                    <div layout="column">
                        <div layout="row">
                            <span flex>minimum price</span>
                            <span flex>Rs. {{productToShow.min_price_per_unit}}</span>
                        </div>
                        <div layout="row">
                            <span flex>your margin</span>
                            <span flex>{{(productToShow.price_per_unit - productToShow.min_price_per_unit)*100/productToShow.price_per_unit |  number:0}} %</span>
                        </div>
                        <div layout="row">
                            <span flex>fabric</span>
                            <span flex>{{productToShow.details.fabric_gsm || 'Not Available'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height:70px;" flex="100" show-xs hide-gt-xs></div>
</div>
<div layout="column" flex class="account-content" data-ng-if="noProducts" layout-align="center center">
    <h1>No more products</h1>
    <md-button class="md-raised md-warn" data-ng-href="/account/hand-picked-products?filter=favorite">Go to favorites</md-button>
</div>
