<md-dialog aria-label="gallery" class="fullscreen-dialog">
    <div flex class="gallery-popup-container" layout="column" layout-wrap>
        <div layout="row" layout-align="end start">
            <span class="space large-font cursor-pointer" ng-click="cancel()">x</span>
        </div>
        <div layout="row" flex layout-padding>
            <div layout="row" layout-wrap flex="33" hide-xs style="border:1px solid #B6B6B6; overflow: scroll" class="hide-scrollbar" layout-align="start start" ng-if="!isMobile">
                <div ng-repeat="tbi in tbImage" layout="column" class="thumbnail-image max-width-100 {{$index==activeImage ? 'active' : ''}}" ng-mouseenter="setActiveImage($index, true)" layout-align="center center">
                    <img data-ng-src="{{::tbi}}" style="max-width:100%; max-height:100%;" />
                </div>
            </div>
            <div layout="row" layout-wrap layout-align="center center" class="gallery-popup-main hide-scrollbar">
                <div layout="row" class="gallery-main {{$index==activeImage ? 'active': ''}}" ng-repeat="lgi in lgImage">
                    <img data-ng-src="{{::lgi}}" />
                </div>
            </div>
        </div>
    </div>
</md-dialog>
