<div flex>
    <div layout="row" layout-fill wu-account-sidenav></div>
    <div layout="row" flex="100" class="account-content" layout-wrap>
        <div flex="100" wu-shortlist-button></div>

        <div flex="100" layout="row" layout-padding layout-wrap>
            <div flex="15" layout="column" layout-align="center center">
                <md-button class="md-raised">
                    <md-icon class="space">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                        </svg>
                    </md-icon>
                    <span class="space">dislike</span>
                </md-button>
            </div>
            <md-content flex layout-align="center center" layout="row">
                <img src="http://api.wholdus.com/media/productimages/85/20160602092712/400x400/shonaya-maroon-cream-colour-designer-embroidered-cotton-satin-stiched-kurti-etafz-204-1.jpg" />
            </md-content>
            <div flex="15" layout="column" layout-align="center center">
                <md-button class="md-raised">
                    <md-icon class="space">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                        </svg>
                    </md-icon>
                    <span class="space">favorite</span>
                </md-button>
            </div>
        </div>
    </div>
</div>
