<div flex>
    <div layout="row" layout-fill wu-account-sidenav></div>
    <div layout="row" flex="100" class="account-content" layout-wrap data-ng-if="!noProducts" ng-cloak>
        <div layout="row" flex="100" layout-padding layout-wrap show-xs hide-gt-xs>
            <div flex="50" layout="column" layout-align="center center">
                <div data-ng-click="favButton(-1)" class="cursor-pointer">
                    <svg style="width:50px;height:50px" viewBox="0 0 24 24">
                        <path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                    </svg>
                </div>
            </div>
            <div flex="50" layout="column" layout-align="center center">
                <div data-ng-click="favButton(1)">
                    <svg fill="#FF5722" height="50" viewBox="0 0 24 24" width="50" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </div>
            </div>
        </div>
        <div flex="100" layout="row" layout-padding layout-wrap>
            <div flex="15" layout="column" layout-align="center center" hide-xs show-gt-xs layout-align="start center">
                <div data-ng-click="favButton(-1)" class="cursor-pointer">
                    <svg style="width:50px;height:50px" viewBox="0 0 24 24">
                        <path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                    </svg>
                </div>
            </div>
            <div flex layout-align="center center" layout="row">
                <img data-ng-src="{{productToShow.imageUrl}}" />
            </div>
            <div flex="15" layout="column" layout-align="center center" hide-xs show-gt-xs layout-align="end center">
                <div data-ng-click="favButton(1)" class="cursor-pointer">
                    <svg fill="#FF5722" height="50" viewBox="0 0 24 24" width="50" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </div>
            </div>
        </div>
        <div style="height:140px;" flex="100" show-xs hide-gt-xs></div>
    </div>
    <div layout="column" flex class="account-content" data-ng-if="noProducts" layout-align="center center">
        <h1>No more products</h1>
        <md-button class="md-raised md-warn">Go to favorites</md-button>
    </div>
</div>
