<div flex layout="column">
    <div layout="row" layout-fill wu-account-sidenav></div>
    <div layout="row" flex="100" class="account-content" layout-wrap>
        <div layout="row" layout-wrap flex="100" md-whiteframe="4" class="white-card" layout-margin ng-repeat="o in orders">
            <div layout="row" flex="100" layout-wrap>
                <div layout="row" flex-xs="100">
                    <span class="small-font secondary-text-color space">Order No:</span>
                    <span class="bold">{{::o.display_number}}</span>
                </div>
                <div flex hide-xs></div>
                <div layout="row" flex-xs="100">
                    <span class="small-font secondary-text-color space">Order Date:</span>
                    <span class="bold">{{::o.created_at | date}}</span>
                </div>
            </div>
            <div layout="row" flex="100" class="hr-rule"></div>
            <div flex="100" layout="row" layout-wrap>
                <div layout="row" flex="25" flex-xs="100" layout-wrap>
                    <span class="small-font secondary-text-color space" flex="100" flex-xs="40">Order Value</span>
                    <span class="bold">Rs. {{::o.edited_price }}</span>
                </div>
                <div layout="row" flex="25" flex-xs="100" layout-wrap>
                    <span class="small-font secondary-text-color space" flex="100" flex-xs="40">COD Charge</span>
                    <span class="bold">{{o.cod_charge != '0.00' ? 'Rs.' + o.cod_charge : 'To be determined'}}</span>
                </div>
                <div layout="row" flex="25" flex-xs="100" layout-wrap>
                    <span class="small-font secondary-text-color space" flex="100" flex-xs="40">Shipping Charge</span>
                    <span class="bold">{{o.shipping_charge != '0.00' ? 'Rs. ' + o.shipping_charge : 'To be determined'}}</span>
                </div>
                <div layout="row" flex="25" flex-xs="100" layout-wrap>
                    <span class="small-font secondary-text-color space" flex="100" flex-xs="40">Total Amount</span>
                    <span class="bold">{{o.final_price != '0.00' ? 'Rs. ' + o.final_price : 'To be determined'}}</span>
                </div>
            </div>
            <div layout="row" flex="100" layout-padding layout-wrap>
                <div layout="row" flex="100" data-ng-repeat="so in o.sub_orders" layout-wrap>
                    <div layout="row" layout-wrap flex="100">
                        <div layout="row" flex-xs="100">
                            <span class="small-font secondary-text-color space">Seller Name</span>
                            <span class="bold">{{::so.seller.company_name}}</span>
                        </div>
                        <div flex hide-xs></div>
                        <div layout="row" flex-xs="100">
                            <span class="small-font secondary-text-color space">Sub Order No:</span>
                            <span class="bold">{{::so.display_number}}</span>
                        </div>
                    </div>
                    <div layout="row" flex="100" class="hr-rule"></div>
                    <div layout="row" flex="100" data-ng-repeat="oi in so.order_items" md-whiteframe="2" layout-margin layout-wrap>
                        <div layout="row" flex="100" layout-wrap>
                            <div layout="row" flex="30" flex-xs="100" style="max-height:200px;" layout-align="center start">
                                <img data-ng-src="{{::oi.product.imageUrl}}"/>
                            </div>
                            <div flex="70" flex-xs="100" layout-wrap layout="row">
                                <span flex="100" class="bold">{{::oi.product.display_name}}</span>
                                <div layout="row" flex="100">
                                    <span class="small-font secondary-text-color space">Pieces</span>
                                    <span class="bold">{{::oi.pieces}}</span>
                                </div>
                                <div layout="row" flex="100">
                                    <span class="small-font secondary-text-color space">Total Price</span>
                                    <span class="bold">{{::oi.final_price}}</span>
                                </div>
                                <div layout="row" flex="100">
                                    <span class="small-font secondary-text-color space">Retail Price / pcs</span>
                                    <span class="bold">{{::oi.retail_price_per_piece}}</span>
                                </div>
                                <div layout="row" flex="100">
                                    <span class="small-font secondary-text-color space">Your Margin</span>
                                    <span class="bold">{{::((oi.retail_price_per_piece - oi.edited_price_per_piece)*100)/oi.retail_price_per_piece | number:2}} %</span>
                                </div>
                            </div>
                            <div layout="row" flex="100" class="hr-rule"></div>
                            <div layout="row" flex="100" layout-wrap>
                                <div flex-xs="100">
                                    <span class="small-font secondary-text-color space">Status</span>
                                    <span class="bold">{{::oi.order_item_status.display_value}}</span>
                                </div>
                                <div flex></div>
                                <div flex-xs="100" layout="row" data-ng-if="oi.tracking_url && oi.tracking_url.length>0">
                                    <md-button class="md-raised md-primary" data-ng-href="{{::oi.tracking_url}}" target="_blank">track</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div flex="100" layout-padding class="white-card" md-whiteframe='4' ng-if="noOrders" layout-wrap>
            <p>
                You have not placed any order with us
            </p>
            <p>
                Discover latest hand picked products for you at factory prices
            </p>
            <md-button class="md-raised md-warn"  href="/account/hand-picked-products">Show Products</md-button>
        </div>
    </div>
</div>
