<div flex layout="column">
    <div layout="row" layout-fill wu-account-sidenav></div>
    <div layout="row" flex="100" class="account-content" layout-wrap>
        <div layout="row" flex="100" layout-wrap class="white-card" layout-margin>
            <span flex="100" class="bold text-center large-font">Personal Details</span>
            <md-input-container flex-xs="100" flex="45">
                <label>Name</label>
                <input type="text" ng-model="buyer.name" required="true" />
            </md-input-container>
            <md-input-container flex-xs="100" flex="45">
                <label>Company Name</label>
                <input type="text" ng-model="buyer.company_name" required="true" />
            </md-input-container>
            <md-input-container flex-xs="100" flex="45">
                <label>Mobile Number</label>
                <input type="text" ng-model="buyer.mobile_number" ng-disabled="true" />
            </md-input-container>
            <md-input-container flex-xs="100" flex="45">
                <label>Email</label>
                <input type="email" ng-model="buyer.email" />
            </md-input-container>
            <md-input-container flex-xs="100" flex="45">
                <label>Alternate Phone Number</label>
                <input type="text" ng-model="buyer.alternate_phone_number" />
            </md-input-container>
            <md-input-container flex-xs="100" flex="45">
                <label>Gender</label>
                <input type="test" ng-model="buyer.gender" />
            </md-input-container>
        </div>

        <div layout="row" flex="100" layout-wrap class="white-card" layout-margin>
            <span flex="100" class="bold text-center large-font">Address</span>
            <md-input-container flex-xs="100" flex="45">
                <label>Address</label>
                <input type="text" ng-model="buyer.address[0].address" required="true" />
            </md-input-container>
            <md-input-container flex-xs="100" flex="45">
                <label>landmark</label>
                <input type="text" ng-model="buyer.address[0].landmark" />
            </md-input-container>
            <md-input-container flex-xs="100" flex="45">
                <label>City</label>
                <input type="text" ng-model="buyer.address[0].city" required="true" />
            </md-input-container>
            <md-input-container flex-xs="100" flex="45">
                <label>State</label>
                <input type="text" ng-model="buyer.address[0].state" />
            </md-input-container>
            <md-input-container flex-xs="100" flex="45">
                <label>Pincode</label>
                <input type="text" ng-model="buyer.address[0].pincode" />
            </md-input-container>
        </div>
    </div>
</div>
