<div flex="100" layout="row" layout-align="center center" layout-margin>
	<span ng-if="home == true"><a href="/"><span class="breadcrumb-active" >Home </span></a>
            <span class="breadcrumb-inactive">&nbsp;&gt;&nbsp;Blogs</span>
    </span>
    <span ng-if="home == false">
    		<a href="/"><span class="breadcrumb-active" >Home </span></a>
    		<span class="breadcrumb-inactive">&nbsp;&gt;&nbsp;</span>
            <a href="/blog/home"><span class="breadcrumb-active">Blogs</span></a>
            <span class="breadcrumb-inactive">&nbsp;&gt;&nbsp;{{data.article.title}}</span>
    </span>
</div>
<div class="blog-page" layout="row">
    <div ng-if = "home == false" wu-blognav layout="row" flex="30" hide-xs hide-sm show-gt-sm></div>
    <div flex="70" flex-xs="100" flex-sm="100" class="blog-content" layout="row" layout-wrap>
        <div flex="100" md-whiteframe="4" layout="column" ng-repeat = "art in data.articles" ng-if="home == true">
        	<div flex="100" class="cursor-pointer" ng-click="selectBlog(art.slug, art.articleID, art.title)">
	        	<img ng-src="{{data.article.cover_image_link}}" width="100%" height="100%"/>
	        	<div flex="100" layout="row" layout-align="start center">
		        	<div flex="100" class="padding-left-1em" layout="column">
		        		<span flex="50" class="bold padding-1em" style="font-size:1.2em">
		        		{{art.title}}
		        	</span>
		        		<span class="padding-left-1em">{{art.author.name}}</span>
		        	</div>

		        	<div flex="40" layout="row" layout-align="end">
		        		{{art.created_at | date}}
		        	</div>
		        	<div flex = "10"></div>
	 			</div>
        		</div>
	 			<md-divider flex="100" layout-margin></md-divider>
	        </div>
	      <div flex="100" md-whiteframe="4" layout="column" ng-if="home == false">
        	<div flex="100">
			    <img ng-src="{{data.article.cover_image_link}}" width="100%" height="100%"/>
			    <div>
			        <div flex="100" class="padding-1em">
			            <span>{{data.article.author.name}}</span>
			        </div>
			        <md-divider flex="100"></md-divider>
			        <div flex="100" class="bold padding-1em" style="font-size:1.2em">
			            {{data.article.title}}
			        </div>
			        <div flex="100" class="padding-left-1em">
			            {{data.article.created_at | date}}
			        </div>
			        <div flex="100" class="padding-1em" ng-bind-html="articleContent">
			        </div>
			    </div>
			</div>
	        <md-divider flex="100" layout-margin></md-divider>
        </div>
        </div>

    </div>
</div>

<div ng-include="'views/footer.html'" flex></div>
