<div class="filler-toolbar" layout="row" layout-align="center start">
    <span class="content-page-title">About Us</span>
</div>
<div layout="column" layout-padding class="aboutus-card" md-whiteframe="4dp">
    Wholdus is a M2B (Manufacturer to Business) e-distribution platform
    which connects selected manufacturers directly to retailers by bringing
    quality products right up to them.
    It streamlines the supply chain by giving one-stop solutions for
    retailers/wholesalers, enabling them to purchase products directly
    from Manufacturers at Factory Price.

    <br /><br />

    For the Manufacturers Wholdus makes distribution simpler by leading you to the validated pool of legit Retailers.

    <br /><br />

    <strong>The Team of Wholdus comprises of alumni of IIT with the vision to enhance the purchasing experience of Retailers/Wholesalers, and automate the distribution of Manufacturer.</strong>
</div>
