<div layout="column" flex>
    <div layout="column" layout-align="start center" flex>
       <div layout="row" layout-align="start center">
            <a href="/"><span class="breadcrumb-active" >Home </span></a>
            <span class="breadcrumb-inactive">&nbsp;&gt;&nbsp;</span>
            <span class="breadcrumb-inactive">{{category.display_name}}</span>
            <span class="breadcrumb-inactive" data-ng-if="settings.noProduct">{{settings.displayName}}</span>
        </div>
        <h1 id="category-title">{{category.display_name}}</h1>
    </div>

    <div layout="row" layout-wrap class="product-card-wrap">
        <div layout="row" data-ng-repeat="p in products" class="product-card-container">
            <div layout="row" wu-product product="p" style="width: 100%;max-width: 620px;"></div>
        </div>
    </div>
ld
    <div layout="row" data-ng-show="settings.enablePagination" wu-pagination></div>

    <div layout="column" data-ng-if="settings.noProduct">
        <div layout="column" layout-align="start center" flex>
            <h1 id="category-title">{{settings.displayName}}</h1>
        </div>
        <div layout="row" layout-wrap class="no-product-container">
            <div layout="column" layout-align="center center" layout-padding>
                <img src="images/no-product-1.png" />
            </div>
            <div layout="column" layout-align="center center" layout-padding>
                <span>oops! our manufacturers are out of stock</span>
                <span>you are our precious customer! please let us serve you</span>
                <span>get a call from us within an hour</span>
                <md-button class="md-raised md-warn" data-ng-click="buyNow($event, categoryID)" style="padding: 0px 8px;">
                    <span>Join Buyer Network</span>
                </md-button>
            </div>
        </div>
    </div>
</div>
<div data-ng-include="'views/footer.html'" flex></div>
