<div layout="column" flex>
    <div layout="column" layout-align="start center" flex>
        <h1 id="category-title">{{category.display_name}}</h1>
    </div>

    <div layout="row" layout-wrap class="product-card-wrap">
        <div layout="row" data-ng-repeat="p in products" class="product-card-container">
            <div layout="row" wu-product product="p" style="width: 100%;max-width: 620px;"></div>
        </div>
    </div>

    <div layout="row" data-ng-show="settings.enablePagination" wu-pagination></div>
</div>
