<div class="filler-toolbar" layout="row" layout-align="center start">
    <span class="content-page-title">Contact Us</span>
</div>

<div layout="row" layout-xs="column" class="contactus-container" layout-padding layout-margin layout-align="center start">
    <div flex="25" flex-sm="45" flex-xs="100" layout="row" layout-wrap layout-padding md-whiteframe="4dp">
        <md-input-container flex="100">
            <label>Email</label>
            <input type="email" data-ng-model="contactus.email" data-ng-required="true" />
        </md-input-container>
        <md-input-container flex="100">
            <label>Contact Number</label>
            <input type="number" data-ng-model="contactus.mobile_number" data-ng-required="true" />
        </md-input-container>
        <md-input-container flex="100">
            <label>Whats on your mind?</label>
            <input type="text" data-ng-model="contactus.remarks" data-ng-required="false" />
        </md-input-container flex="100">
        <md-button class="md-raised md-warn" md-no-ink data-ng-click="contactUs()">
            <span>Contact Us</span>
        </md-button>
    </div>
    <div flex="25" flex-sm="45" flex-xs="100" layout="row" layout-wrap layout-padding  md-whiteframe="4dp">
        <span flex="100">call us @ +91-7895161705</span>
        <hr />
        <span flex="100">OR</span>
        <span flex="100">Leave a text!</span>
        <span flex="100">Guaranteed Reply within an hour</span>
    </div>
</div>
<div class="map-address" layout="row">
    <!-- <div flex> -->
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=28.5186012,77.1815751&zoom=15&size=700x350&maptype=roadmap
                    &markers=color:red%7Clabel:W%7C28.5186012,77.1815751
                    &key=AIzaSyAcLoOEv_1Otg-W-jE7fs9YIIs4dEJaslE"></div>
    <!-- </div> -->
</div>
<div data-ng-include="'views/footer.html'" flex></div>
