<div class="filler-toolbar" layout="row" layout-align="center start">
    <span class="content-page-title">Contact Us</span>
</div>

<div layout="row" layout-xs="column" class="contactus-container" layout-padding layout-margin layout-align="center start">
    <div flex="25" flex-sm="45" flex-xs="100" layout="row" layout-wrap layout-padding md-whiteframe="4dp">
        <md-input-container flex="100">
            <label>Email</label>
            <input type="email" data-ng-model="contactus.email" data-ng-required="true" />
        </md-input-container>
        <md-input-container flex="100">
            <label>Contact Number</label>
            <input type="number" data-ng-model="contactus.mobile_number" data-ng-required="true" />
        </md-input-container>
        <md-input-container flex="100">
            <label>Whats on your mind?</label>
            <input type="text" data-ng-model="contactus.remarks" data-ng-required="false" />
        </md-input-container flex="100">
        <md-button class="md-raised md-warn" data-ng-click="contactUs()" aria-label="contact us">
            <span>Contact Us</span>
        </md-button>
    </div>
    <div flex="25" flex-sm="45" flex-xs="100" layout="row" layout-wrap layout-padding  md-whiteframe="4dp">
        <span flex="100">call us @ +91-7895161705</span>
        <hr />
        <span flex="100">OR</span>
        <span flex="100">Leave a text!</span>
        <span flex="100">Gaurenteed Reply with an hour</span>
    </div>
</div>
