<div layout="row" flex layout="row" layout-wrap>
    <div layout="row" flex="100" layout-wrap layout-align="space-around center">
        <div flex="33" flex-xs="100" flex-sm="50" class="md-padding" layout="row">
            <div class="md-whiteframe-4dp white-card padding-tb" flex="100" layout="row" layout-wrap>
                <div flex="100" layout="row" layout-align="center center" class="padding-tb">
                    <md-icon class="svg-70">
                        <svg class="svg-70" viewBox="0 0 24 24">
                            <path fill="#FF5722" d="M16,21H8A1,1 0 0,1 7,20V12.07L5.7,13.12C5.31,13.5 4.68,13.5 4.29,13.12L1.46,10.29C1.07,9.9 1.07,9.27 1.46,8.88L7.34,3H9C9,4.1 10.34,5 12,5C13.66,5 15,4.1 15,3H16.66L22.54,8.88C22.93,9.27 22.93,9.9 22.54,10.29L19.71,13.12C19.32,13.5 18.69,13.5 18.3,13.12L17,12.07V20A1,1 0 0,1 16,21M20.42,9.58L16.11,5.28C15.8,5.63 15.43,5.94 15,6.2C14.16,6.7 13.13,7 12,7C10.3,7 8.79,6.32 7.89,5.28L3.58,9.58L5,11L8,9H9V19H15V9H16L19,11L20.42,9.58Z" />
                        </svg>
                    </md-icon>
                </div>
                <ul class="demopage-ul" layout-wrap flex="100">
                    <li>Be updated with</li>
                    <li class="large-font padding-tb bold">Latest Products</li>
                    <li>launched daily</li>
                </ul>
                <ul flex="100">
                    <li>Large Variety</li>
                    <li class="padding-tb">From Surat, Ahmedabad, Jaipur, <br />Kolkata and more</li>
                </ul>
            </div>
        </div>
        <div flex="33" flex-xs="100" flex-sm="50" class="md-padding" layout="row">
            <div class="md-whiteframe-4dp white-card padding-tb" flex="100" layout="row" layout-wrap>
                <div flex="100" layout="row" layout-align="center center" class="padding-tb">
                    <md-icon class="svg-70">
                        <svg fill="#FF5722" class="svg-70" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M20 8h-3V4H3c-1.1 0-2 .9-2 2v11h2c0 1.66 1.34 3 3 3s3-1.34 3-3h6c0 1.66 1.34 3 3 3s3-1.34 3-3h2v-5l-3-4zM6 18.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm13.5-9l1.96 2.5H17V9.5h2.5zm-1.5 9c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/>
                        </svg>
                    </md-icon>
                </div>
                <ul class="demopage-ul" layout-wrap flex="100">
                    <li>Order anything</li>
                    <li class="large-font padding-tb bold">Directly From Brands</li>
                    <li>in wholesale</li>
                </ul>
                <ul flex="100">
                    <li>Best Prices</li>
                    <li class="padding-tb">Low MOQ</li>
                    <li>Logistics Support</li>
                </ul>
            </div>
        </div>
        <div flex="33" flex-xs="100" flex-sm="50" class="md-padding" layout="row">
            <div class="md-whiteframe-4dp white-card padding-tb" flex="100" layout="row" layout-wrap>
                <div flex="100" layout="row" layout-align="center center" class="padding-tb">
                    <md-icon class="svg-70">
                        <svg fill="#FF5722" class="svg-70" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M20 4H4v2h16V4zm1 10v-2l-1-5H4l-1 5v2h1v6h10v-6h4v6h2v-6h1zm-9 4H6v-4h6v4z"/>
                        </svg>
                    </md-icon>
                </div>
                <ul class="demopage-ul" layout-wrap flex="100">
                    <li>Get your own</li>
                    <li class="large-font padding-tb bold">Online Store</li>
                    <li>for free</li>
                </ul>
                <ul flex="100">
                    <li>Adjust Prices</li>
                    <li class="padding-tb">Share With Customers</li>
                    <li>Manage Orders</li>
                </ul>
            </div>
        </div>
    </div>
    <div layout="row" flex="100">
        <h1 class="text-center underline" flex="100">See how it happens</h1>
    </div>
    <div layout="row" flex="100" class="md-padding" layout-align="center center">
        <div flex="50" flex-xs="100" flex-sm="100">
            <iframe width="100%" height="{{::settings.demoVideoHeight}}" layout="column" src="https://www.youtube.com/embed/Ml8SzrrXgc8" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <span flex="100" class="padding-tb"></span>
    <div layout="row" flex="100" class="md-padding">
        <span flex hide-xs></span>
        <md-button flex ng-click="buyNow($event)" class="md-warn md-raised">Register as a retailer</md-button>
        <span flex hide-xs></span>
    </div>
    <span flex="100" class="padding-tb"></span>
    <span flex="100" class="padding-tb"></span>
</div>
<div wu-footer layout="row"></div>
