<div class="filler-toolbar" layout="row" layout-align="center start">
    <span class="content-page-title">FAQs</span>
</div>
<div layout="row" layout-wrap layout-padding layout-margin class="faq-container" layout-align="space-around start">
    <div layout="row" layout-wrap flex="45" flex-xs="100" layout-padding="" md-whiteframe="4">
        <span flex="10" class="q">Q:</span>
        <span flex="90" style="font-weight:bold">How to I Purchase from Wholdus?</span>
        <span flex="10" class="q">A:</span>
        <span flex="90">The Buyers of Wholdus are Invite only. If you wish to Purchase from Wholdus, you can request an Invitation from us. Our representative will contact you.</span>
    </div>
    <div layout="row" layout-wrap flex="45" flex-xs="100" layout-padding="" md-whiteframe="4">
        <span flex="10" class="q">Q:</span>
        <span flex="90" style="font-weight:bold">How do we make sure that our prices are competitive?</span>
        <span flex="10" class="q">A:</span>
        <span flex="90">Our products are sourced only from manufacturers with whom we have formed long-term relationships with.</span>
    </div>
    <div layout="row" layout-wrap flex="45" flex-xs="100" layout-padding="" md-whiteframe="4">
        <span flex="10" class="q">Q:</span>
        <span flex="90" style="font-weight:bold">How do we make sure that our products are of the highest quality?</span>
        <span flex="10" class="q">A:</span>
        <span flex="90">
            <span>We choose manufacturers carefully, they must meet the following criteria.</span>
            <ul>
                <li>
                    A good track record of producing products
                </li>
                <li>
                    Possesses all required certificates and verifications for market entry and product safety
                </li>
            </ul>
        </span>
    </div>
    <div layout="row" layout-wrap flex="45" flex-xs="100" layout-padding="" md-whiteframe="4">
        <span flex="10" class="q">Q:</span>
        <span flex="90" style="font-weight:bold">What is a Lot?</span>
        <span flex="10" class="q">A:</span>
        <span flex="90" layout="column" class="faq-content">
            <span>A Lot is a MOQ (minimum order quantity) and is a single set which contains several pieces of the same item.</span>
            <span>The quantity of items in a single Lot ranges from several to dozens of items, depending on the weight and size of the item.</span>
            <span>We also have tiered pricing for large orders that can be found in the product specifics page.</span>
        </span>
    </div>
    <div layout="row" layout-wrap flex="45" flex-xs="100" layout-padding="" md-whiteframe="4">
        <span flex="10" class="q">Q:</span>
        <span flex="90" style="font-weight:bold">How do you ship your products and how can I check the stock availability?</span>
        <span flex="10" class="q">A:</span>
        <span flex="90" layout="column" class="faq-content">
            <span>All goods are ready to ship out from warehouses of the manufacturers. We give a “Warehouse to Warehouse” Delivery. You can track any shipment on the website.</span>
            <span>All products will be shipped via express carriers.</span>
            <span>The current available shipping options is FedEx.</span>
        </span>
    </div>
    <div layout="row" layout-wrap flex="45" flex-xs="100" layout-padding="" md-whiteframe="4">
        <span flex="10" class="q">Q:</span>
        <span flex="90" style="font-weight:bold">What are Wholdus's policies regarding products that arrive damaged or products that are defective?</span>
        <span flex="10" class="q">A:</span>
        <span flex="90" layout="column" class="faq-content">
            <span>Defective goods can be returned and/or exchanged.</span>
            <span>You can find more details on our “Return and Refund Policies” on our website Wholdus.com.</span>
            <span>Our customer service team is ready to help with any questions you may have.</span>
        </span>
    </div>
</div>

<div data-ng-include="'views/footer.html'" flex></div>
