<div flex class="footer md-hue-2" layout-padding layout="row">
    <div layout="column" flex="33" layout-align="start center">
        <span>
            <a href="http://seller.wholdus.com" target="_blank">Set Distribution</a>
        </span>
        <span>
            <a href="/aboutus">About Us</a>
        </span>
        <span data-ng-click="buyerNetwork()">
            Join Buyer Network
        </span>
        <span>
            <a href="/contactus">Contact Us</a>
        </span>
    </div>

    <div layout="column" flex="33" layout-align="start center">
        <span>
            <a href="/return-refund-policy">Return & Refund Policy</a>
        </span>
        <span>
            <a href="/faq">FAQs</a>
        </span>
    </div>

</div>
