<div flex class="footer md-hue-2" layout-padding layout-wrap layout="row" layout-xs="column" layout-align="center start" >
    <div layout="column" flex="33" flex="100" layout-align="start start">
        <span>
            <a href="http://seller.wholdus.com" target="_blank">Set Distribution</a>
        </span>
        <span>
            <a href="/aboutus">About Us</a>
        </span>
        <span style="cursor:pointer" data-ng-click="buyNow($event)">
            Join Buyer Network
        </span>
        <span>
            <a href="/contactus">Contact Us</a>
        </span>
    </div>

    <div layout="column" flex="33" flex="100" layout-align="start start">
        <span>
            <a href="/return-refund-policy">Return &amp; Refund Policy</a>
        </span>
        <span>
            <a href="/faq">FAQs</a>
        </span>
    </div>

    <div layout="row" flex="33" flex-xs="100" layout-wrap layout-align="start start" class="social-media">
        <div flex>
            <a data-ng-href="https://www.facebook.com/wholdus" target="_blank">
                <img src="images/facebook.png" />
            </a>
        </div>
        <div flex>
            <a data-ng-href="https://www.linkedin.com/company/wholdus.com" target="_blank">
                <img src="images/linkedin.png" />
            </a>
        </div>
        <div flex>
            <a data-ng-href="https://plus.google.com/b/116373011527867126882/116373011527867126882/about?hl=en&pageId=116373011527867126882" target="_blank">
                <img src="images/googleplus-2.png" />
            </a>
        </div>
        <div flex>
            <a data-ng-href="https://twitter.com/wholdus" target="_blank">
                <img src="images/twitter.png" />
            </a>
        </div>
        <div flex>
            <a data-ng-href="https://www.instagram.com/wholdus" target="_blank">
                <img src="images/instagram.png" />
            </a>
        </div>
        <div flex>
            <a data-ng-href="https://www.youtube.com/channel/UCYyrESMJLLvCiKDmyaL03Ig" target="_blank">
                <img src="images/youtube.png" />
            </a>
        </div>
    </div>
    <div layout="row" flex="100" layout-align="center start" class="copyright-footer">
        <span>&copy; 2015-2016 Probzip Business Solutions Pvt Ltd</span>
    </div>
</div>
