<div class="filler-toolbar" layout="row" layout-align="center start">
    <span><i>&ldquo;</i> wholesale distributon with us<i>&rdquo;</i></span>
</div>

<div layout="row" layout-wrap class="homepage-top-container">
    <div layout="column" flex="20" id="categories-list-container" md-whiteframe="4dp" hide-xs hide-sm ng-cloak>
        <span>Categories</span>
        <md-list>
            <md-list-item flex data-ng-repeat="c in categories">
                <md-button flex data-ng-href="{{c.url}}" data-ng-click="goTo($event, $index)">{{c.display_name}}</md-button>
            </md-list-item>
        </md-list>
    </div>
    <div class="home-card-container" layout="column" flex-xs="100" flex-sm="100" flex-gt-sm="50" layout-align="center center">
        <div layout="row">
            <img src="images/thumbnail.png" class="md-card-image" />
        </div>
    </div>
    <div class="home-card-container" layout="column" flex-xs="100" flex-sm="100" flex-gt-sm="30">
        <div layout="row">
            <img src="images/thumbnail.png" class="md-card-image" />
        </div>
        <div layout="row" class="video" flex>
            <iframe src="https://www.youtube.com/embed/Y9BQhmIShrg" frameborder="0" allowfullscreen class="md-card-image" flex></iframe>
        </div>

    </div>
</div>

<div layout="column" flex data-ng-repeat="c in products" class="homepage-content-container">
    <md-toolbar layout-align="center center">
        <div class="md-toolbar-tools">
            <h1 class="md-title">{{c.category.category_name}}</h1>
            <span flex></span>
        </div>
    </md-toolbar>
    <div layout="row" layout-wrap class="product-card-wrap">
        <div layout="row" data-ng-repeat="p in c.products" class="product-card-container">
            <div layout="row" wu-product product="p" style="width: 100%;max-width: 620px;"></div>
        </div>
    </div>
</div>
