<div class="filler-toolbar" layout="row" layout-align="start start" layout-wrap>
    <div layout="row" layout-align="start center" flex flex-xs="100" class="distribute">
        <md-button data-ng-href="http://seller.wholdus.com" aria-label="distribute-on-wholdus" target="_blank">
            <md-icon>
                <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="#FFFFFF" d="M21,3L3,10.53V11.5L9.84,14.16L12.5,21H13.46L21,3Z" />
                </svg>
            </md-icon>
            <span class="distribute-text">Set Distribution On Wholdus</span>
        </md-button>
    </div>
    <div layout="row" flex layout-wrap layout-align="end start" class="social-media-top" hide-xs>
        <md-button data-ng-href="https://www.facebook.com/wholdus" target="_blank" aria-label="facebook-wholdus">
            <md-icon>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#FFFFFF" d="M19,4V7H17A1,1 0 0,0 16,8V10H19V13H16V20H13V13H11V10H13V7.5C13,5.56 14.57,4 16.5,4M20,2H4A2,2 0 0,0 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z" />
                </svg>
            </md-icon>
        </md-button>
        <md-button data-ng-href="https://www.linkedin.com/company/wholdus.com" target="_blank" aria-label="linkedin-wholdus">
            <md-icon>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#FFFFFF" d="M19,19H16V13.7A1.5,1.5 0 0,0 14.5,12.2A1.5,1.5 0 0,0 13,13.7V19H10V10H13V11.2C13.5,10.36 14.59,9.8 15.5,9.8A3.5,3.5 0 0,1 19,13.3M6.5,8.31C5.5,8.31 4.69,7.5 4.69,6.5A1.81,1.81 0 0,1 6.5,4.69C7.5,4.69 8.31,5.5 8.31,6.5A1.81,1.81 0 0,1 6.5,8.31M8,19H5V10H8M20,2H4C2.89,2 2,2.89 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z" />
                </svg>
            </md-icon>
        </md-button>
        <md-button data-ng-href="https://plus.google.com/b/116373011527867126882/116373011527867126882/about?hl=en&pageId=116373011527867126882" target="_blank" aria-label="googleplus-wholdus">
            <md-icon>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#FFFFFF" d="M23,11H21V9H19V11H17V13H19V15H21V13H23M8,11V13.4H12C11.8,14.4 10.8,16.4 8,16.4C5.6,16.4 3.7,14.4 3.7,12C3.7,9.6 5.6,7.6 8,7.6C9.4,7.6 10.3,8.2 10.8,8.7L12.7,6.9C11.5,5.7 9.9,5 8,5C4.1,5 1,8.1 1,12C1,15.9 4.1,19 8,19C12,19 14.7,16.2 14.7,12.2C14.7,11.7 14.7,11.4 14.6,11H8Z" />
                </svg>
            </md-icon>
        </md-button>
        <md-button data-ng-href="https://twitter.com/wholdus" target="_blank" aria-label="twitter-wholdus">
            <md-icon>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#FFFFFF" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                </svg>
            </md-icon>
        </md-button>
        <md-button data-ng-href="https://www.instagram.com/wholdus" target="_blank" aria-label="instagram-wholdus">
            <md-icon>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#FFFFFF" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                </svg>
            </md-icon>
        </md-button>
        <md-button data-ng-href="https://www.youtube.com/channel/UCYyrESMJLLvCiKDmyaL03Ig" target="_blank" aria-label="youtube-wholdus">
            <md-icon>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#FFFFFF" d="M10,16.5V7.5L16,12M20,4.4C19.4,4.2 15.7,4 12,4C8.3,4 4.6,4.19 4,4.38C2.44,4.9 2,8.4 2,12C2,15.59 2.44,19.1 4,19.61C4.6,19.81 8.3,20 12,20C15.7,20 19.4,19.81 20,19.61C21.56,19.1 22,15.59 22,12C22,8.4 21.56,4.91 20,4.4Z" />
                </svg>
            </md-icon>
        </md-button>
    </div>
</div>
<div layout="row" layout-wrap class="homepage-top-container" layout-align="center start">
    <div layout="column" flex="20" id="categories-list-container" md-whiteframe="4dp" hide-xs hide-sm ng-cloak>
        <span>Categories</span>
        <md-list>
            <md-list-item flex data-ng-repeat="c in categories">
                <md-button flex data-ng-href="{{c.url}}" data-ng-click="goTo($event, $index)">{{c.display_name}}</md-button>
            </md-list-item>
        </md-list>
    </div>
    <div class="home-card-container" layout="row" flex-xs="100" flex-sm="100" flex-gt-sm="50" layout-align="center center">
        <div layout="row" flex="100" layout-align="center center">
            <img src="images/banner-1.jpg" width="100%" height="100%" />
        </div>
    </div>
    <div class="home-card-container" layout="row" flex-xs="100" flex-sm="100" flex-gt-sm="30" layout-wrap>
        <div layout="row" flex="100">
            <img src="images/banner-2.jpg" width="100%" height="100%"/>
        </div>
        <div layout="row" class="video" style="min-height: 260px;" flex="100">
            <iframe src="https://www.youtube.com/embed/CVGP3k3Rnqw" frameborder="0" allowfullscreen class="md-card-image" flex></iframe>
        </div>
    </div>
</div>

<div layout="column" flex data-ng-repeat="c in products" class="homepage-content-container">
    <md-toolbar layout-align="center center">
        <div layout="row" class="md-toolbar-tools">
            <span flex></span>
            <h1 class="category-title">{{c.category.display_name}}</h1>
            <span flex></span>
        </div>
    </md-toolbar>
    <div layout="row" layout-wrap class="product-card-wrap">
        <div layout="row" data-ng-repeat="p in c.products" class="product-card-container">
            <div layout="row" wu-product product="p" style="width: 100%;max-width: 620px;"></div>
        </div>
    </div>
    <div layout="row" layout-align="center center" class="view-more-btn" data-ng-if = "total[$index] > c.products.length">
        <a href="{{c.category.url}}">
            <md-button class="md-raised md-warn">
                <span>view more</span>
            </md-button>
        </a>
    </div>
</div>

<div data-ng-include="'views/footer.html'" flex="100" layout="row"></div>
