<div layout="row" layout-align="center center" layout-wrap class="breadcrumb" ng-if="!storePage">
    <a href="/" layout="row" layout-align="start center">
        <svg style="width:20px;height:20px" viewBox="0 0 24 24">
            <path fill="#525050" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" />
        </svg>
        Home
    </a>
    <span>&nbsp;&gt;&nbsp;</span>
    <a ng-href="{{::product.category.url}}">{{::product.category.display_name}}</a>
    <span>&nbsp;&gt;&nbsp;</span>
    <span>{{::product.display_name }}</span>
</div>
<div layout="row" layout-align="center center" layout-wrap class="breadcrumb" ng-if="storePage">
    <a ng-href="/store/{{::store.store_url}}" layout="row" layout-align="start center">
        <svg style="width:20px;height:20px" viewBox="0 0 24 24">
            <path fill="#525050" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" />
        </svg>
        Home
    </a>
    <span>&nbsp;&gt;&nbsp;</span>
    <a ng-href="/store/{{::store.store_url}}/products">products</a>
    <span>&nbsp;&gt;&nbsp;</span>
    <span>{{::product.display_name }}</span>
</div>

<div layout="row" flex ng-if="product" layout-wrap class="product-page-card">
    <div flex-xs="100" flex-sm="45" flex-gt-sm="45" wu-gallery image='product.image' layout="row" class="gallery-wrap"></div>
    <div layout="column" flex-xs="100" flex class="product-page-card-content" ng-if="!storePage">
        <div layout="row" class="product-display-name-container">
            <h1 class="product-display-name space">{{::product.display_name }}</h1>
            <span layout="row" ng-click="toggleShortlist($event)" class="cursor-pointer">
                <md-icon ng-if="!product.shortlisted" style="margin-top: 5px;">
                    <svg fill="#000" class="svg-30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
                    </svg>
                </md-icon>
                <md-icon ng-if="product.shortlisted" style="margin-top: 5px;">
                    <svg fill="#FF5722" class="svg-30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </md-icon>
            </span>
        </div>
        <div layout="row" ng-if="!loggedIn" layout-padding>
            <span class="bold"><span class="underline cursor-pointer" ng-click="openLoginPopup($event)">Login</span> to view prices</span>
        </div>
        <div layout="row" layout-wrap layout-padding ng-if="loggedIn">
            <div flex flex-xs="100" layout="column">
                <span class="feature-title">Min Price</span>
                <span class="product-price">Rs. {{::product.min_price_per_unit | currency:'':0}}</span>
            </div>
            <div flex flex-xs="50" layout="column">
                <span class="feature-title">Retail Price</span>
                <span>Rs. {{::product.price_per_unit | currency:'':0}}</span>
            </div>
            <div flex flex-xs="50" layout="column">
                <span class="feature-title">Your Margin</span>
                <span>{{::product.margin |  number:0}}%</span>
            </div>
        </div>
        <div layout="row" layout-wrap layout-padding>
            <div flex="33" flex-xs="50" layout="column">
                <span class="feature-title">Fabric</span>
                <span>{{::product.fabric_gsm}}</span>
            </div>
            <div flex="33" flex-xs="50" layout="column">
                <span class="feature-title">Sizes</span>
                <span>{{::product.sizes}}</span>
            </div>
            <div flex="33" flex-xs="50" layout="column">
                <span class="feature-title">Color</span>
                <span>{{::product.colors}}</span>
            </div>
            <div flex="33" flex-xs="50" layout="column">
                <span class="feature-title">Brand</span>
                <span>{{::product.brand}}</span>
            </div>
            <div flex="33" flex-xs="50" layout="column">
                <span class="feature-title">Lot Size</span>
                <span>{{::product.lot_size}}</span>
            </div>
        </div>
        <div layout="row" class="divider"></div>
        <div layout="row" layout-wrap>
            <div flex="100" layout-padding>
                <span flex="100" style="font-size:1.1em">Wholesale Pricing</span>
            </div>
            <div layout="row" ng-if="!loggedIn" layout-padding flex="100">
                <span class="bold"><span class="underline cursor-pointer" ng-click="openLoginPopup($event)">Login</span> to view prices</span>
            </div>
            <div layout="row" layout-align="center center" flex="100" ng-if="loggedIn">
                <table>
                    <thead class="lot-pricing-head">
                        <td>
                            no. of lots
                        </td>
                        <td>
                            price/unit
                        </td>
                        <td>
                            your margin(upto)
                        </td>
                        <td>
                            lot price
                        </td>
                    </thead>
                    <tbody class="lot-pricing-detail">
                        <tr data-ng-repeat="pl in product.product_lot">
                            <td>
                                {{::pl.lot_size_from}}+
                            </td>
                            <td>
                                {{::pl.price_per_unit | number:0}}
                            </td>
                            <td>
                                {{::((product.price_per_unit-pl.price_per_unit)*100/product.price_per_unit | number:0)}}%
                            </td>
                            <td>
                                {{::pl.price_per_unit*product.lot_size | number:0}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div layout="row" class="padding-tb">
            <span flex hide-xs hide-sm></span>
            <md-button class="md-raised md-warn" ng-click="addToCart($event, product, true)" flex>
                <span aria-label="buy-now">BUY NOW</span>
            </md-button>
            <div flex layout="row" layout-wrap>
                <md-button class="md-raised" flex="100" ng-click="addToCart($event, product, false)" ng-disabled="pdInCart">
                    <span layout="row" flex layout-align="center center" ng-show="atcAPICall">
                        <md-progress-circular md-mode="indeterminate" class="md-warn" md-diameter="32"></md-progress-circular>
                    </span>
                    <span ng-show="!atcAPICall && !pdInCart" flex>ADD TO CART</span>
                    <span ng-if="pdInCart" flex style="color:#fff">ADDED TO CART</span>
                </md-button>
                <md-tooltip md-direction="top" ng-if="pdInCart && !isMobile">The product is already in cart!</md-tooltip>
            </div>
            <span flex hide-xs hide-sm></span>
        </div>
    </div>
    <div layout="column" flex-xs="100" flex class="product-page-card-content" ng-if="storePage">
        <div layout="row" class="product-display-name-container">
            <h1 class="product-display-name">{{::product.display_name }}</h1>
        </div>
        <div layout="row" layout-wrap layout-padding  ng-if="product.buyerstore.buyer_store_discounted_price">
            <div flex="50" flex-xs="100" layout="column">
                <span class="feature-title">MRP</span>
                <span class="product-price">Rs. {{::product.buyerstore.buyer_store_discounted_price | currency:'':0}}</span>
            </div>
            <div flex="50" flex-xs="100" layout="column">
                <span class="feature-title">MRP</span>
                <span class="non-discount-price" style="text-align:left">Rs. {{::product.price_per_unit | currency:'':0}}</span>
            </div>
            <div flex="100" style="padding-top: 0;">
                <span class="discount-number" flex-xs="100" style="font-size:1em">{{::product.buyerstore.buyer_store_discount}}% Discount</span>
            </div>
        </div>
        <div layout="row" layout-wrap layout-padding  ng-if="!product.buyerstore.buyer_store_discounted_price">
            <div flex="50" flex-xs="100" layout="column">
                <span class="feature-title">MRP</span>
                <span class="product-price" style="text-align:left">Rs. {{::product.price_per_unit | currency:'':0}}</span>
            </div>
        </div>
        <div layout="row" class="divider"></div>
        <div layout="row" layout-wrap layout-padding>
            <div flex="100" layout="column" ng-if="product.brand">
                <span class="feature-title">Brand</span>
                <span>{{::product.brand}}</span>
            </div>
            <div flex="100" layout="column" ng-if="product.fabric_gsm">
                <span class="feature-title">Fabric</span>
                <span>{{::product.fabric_gsm}}</span>
            </div>
            <div flex="100" layout="column" ng-if="product.sizes != 'None'">
                <span class="feature-title">Sizes</span>
                <span>{{::product.sizes}}</span>
            </div>
        </div>
        <div layout="row" class="divider"></div>
        <div layout="row" flex layout-align="center center">
            <span flex hide-xs hide-sm></span>
            <md-button class="md-raised md-warn" ng-click="placeOrder($event, product)" flex>Purchase Request</md-button>
            <span flex hide-xs hide-sm></span>
        </div>
    </div>
</div>

<div layout="row" layout-wrap class="product-description-container" ng-if="productDetailsKeys">
    <div layout="column" class="product-details-wrap" flex="60" flex-xs="100" flex-sm="100">
        <span class="area-title">Product Details</span>
        <div layout="row" layout-wrap flex>
            <div layout="column" flex="33" flex-xs="100" flex-sm="50" ng-repeat="p in productDetailsKeys" ng-if="p.value!='None'">
                <div layout="column" class="feature-parent">
                    <span class="feature-title">{{p.label}}</span>
                    <span>{{p.value}}</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="column" class="product-seller-details-container" flex flex-xs="100" flex-sm="100">
        <span class="area-title">Manufacturer Details</span>
        <div layout="column" class="product-details-wrap" layout-wrap>
            <div layout="column" class="feature-parent">
                <span class="feature-title">Name</span>
                <span>{{::product.seller.company_name}}</span>
            </div>
            <div layout="column" class="feature-parent">
                <span class="feature-title">Location</span>
                <span>{{::product.seller.address.city}}</span>
            </div>
            <div layout="column" class="feature-parent">
                <span class="feature-title">Speciality</span>
                <span>{{::product.category.display_name}}</span>
            </div>
        </div>
    </div>
</div>

<div wu-footer layout="row" ng-if="!storePage"></div>
<div wu-store-footer layout="row" ng-if="storePage"></div>
