<div layout="column" layout-align="start center">
    <span></span>
    <h1 id="category-title">{{ product.display_name }}</h1>
</div>

<div layout="row" layout-wrap ng-cloak class="product-page-card">
    <div layout="column" flex-xs="100" flex-sm="40" flex-gt-sm="45" class="image-wrap" layout-align="center center" flex>
        <div layout="row" layout-align="center center">
            <img src="{{image}}" class="md-card-image" />
        </div>
    </div>
    <div layout="column" flex-xs="100" flex-sm="60" flex-gt-sm="55" flex class="product-page-card-content-container">
        <div layout="column" class="product-page-card-content">
            <div class="product-price">
                <span class="feature-title">Minimum Price:</span> <span>Rs. {{product.min_price_per_unit}}</span>
            </div>
            <md-divider></md-divider>
            <div>
                <span class="feature-title">Retail Price:</span> Rs. {{product.price_per_unit}}
            </div>
            <div>
                <span class="feature-title">Margin upto: </span>{{(product.price_per_unit - product.min_price_per_unit)*100/product.price_per_unit |  number:0}}%
            </div>
            <md-divider></md-divider>
            <div>
                <span class="feature-title">Manufactured By:</span> {{product.seller.company_name}}
            </div>
            <div>
                <span class="feature-title">Lot Size:</span> {{product.lot_size}}
            </div>
            <md-divider></md-divider>
            <div>
                Wholesale Pricing
            </div>
            <div layout="row" layout-align="center center">
                <table>
                    <thead class="lot-pricing-head">
                        <td>
                            no. of lots
                        </td>
                        <td>
                            price/unit
                        </td>
                        <td>
                            your margin(upto)
                        </td>
                        <td>
                            lot price
                        </td>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="pl in product.product_lot">
                            <td>
                                {{pl.lot_size_from}}+
                            </td>
                            <td>
                                {{pl.price_per_unit | number:0}}
                            </td>
                            <td>
                                {{(product.price_per_unit-pl.price_per_unit)*100/product.price_per_unit | number:0}}%
                            </td>
                            <td>
                                {{pl.price_per_unit*product.lot_size | number:0}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div layout="row">
                <span flex></span>
                <md-button class="md-raised md-warn" data-ng-click="buyNow()">
                    <span style="padding: 0.5em;">Buy Now (Join Buyer Network)</span>
                </md-button>
                <span flex></span>
            </div>
        </div>
    </div>
</div>

<div layout="row" layout-wrap class="product-description-container">
    <div layout="column" class="product-details-wrap" flex="60" flex-xs="100">
        <span class="area-title">Product Details</span>
        <div layout="row" layout-wrap flex>
            <div layout="column" flex="33" flex-xs="100">
                <div layout="column" class="feature-parent" data-ng-repeat="p in productDetailsKeys" data-ng-if="$index<4">
                    <span class="feature-title">{{p.label}}</span>
                    <span>{{p.value}}</span>
                </div>
            </div>
            <div layout="column" flex="33" flex-xs="100">
                <div layout="column" class="feature-parent" data-ng-repeat="p in productDetailsKeys" data-ng-if="$index>3&&$index<8">
                    <span class="feature-title">{{p.label}}</span>
                    <span>{{p.value}}</span>
                </div>
            </div>
            <div layout="column" flex="33" flex-xs="100">
                <div layout="column" class="feature-parent" data-ng-repeat="p in productDetailsKeys" data-ng-if="$index>8">
                    <span class="feature-title">{{p.label}}</span>
                    <span>{{p.value}}</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="column" class="product-seller-details-container" flex-xs="100" flex-gt-xs="38">
        <span class="area-title">Manufacturer Details</span>
        <div layout="column" class="product-details-wrap">
            <div layout="column" class="feature-parent">
                <span class="feature-title">Name</span>
                <span>{{product.seller.company_name}}</span>
            </div>
            <div layout="column" class="feature-parent">
                <span class="feature-title">Location</span>
                <span>{{product.seller.address[0].city}}</span>
            </div>
            <div layout="column" class="feature-parent">
                <span class="feature-title">Speciality</span>
                <span>{{product.category.display_name}}</span>
            </div>
        </div>
    </div>
</div>
