<div layout="column" layout-align="start center">
    <span></span>
    <h1 class="category-title">{{ product.display_name }}</h1>
</div>

<div layout="row" layout-wrap ng-cloak>
    <div layout="column" flex-xs="100" flex-sm="100" flex-md="40" flex-gt-md="100" layout-align="start center">
        <img src="images/thumbnail.png" class="md-card-image" />
    </div>
    <md-divider></md-divider>
    <div layout="column" flex>
        <div layout="row" layout-wrap>
            <span>Unit Price: Rs. {{product.min_price_per_unit}} / piece</span>
            <span class="strike">Rs. {{product.price_per_unit}} / piece</span>
        </div>
        <div layout="row">
            <span>Upto {{(product.price_per_unit-product.min_price_per_unit)*100/product.price_per_unit}} % discount</span>
        </div>
        <span>Sold by: {{ product.seller.seller_name }}</span>
        <span>Lot Size: {{ product.lot_size }}</span>
        <div layout="row"  layout-align="space-around center">
            <div layout="column" layout-align="center center">
                <span>no. of lots</span>
                <span data-ng-repeat="pl in product.product_lot">{{pl.lot_size_from}}</span>
            </div>
            <div layout="column" layout-align="center center">
                <span>discount</span>
                <span data-ng-repeat="pl in product.product_lot">{{(product.price_per_unit-pl.price_per_unit)*100/product.price_per_unit}}</span>
            </div>
            <div layout="column" layout-align="center center">
                <span>unit price</span>
                <span data-ng-repeat="pl in product.product_lot">{{pl.price_per_unit}}</span>
            </div>
            <div layout="column" layout-align="center center">
                <span>lot price</span>
                <span data-ng-repeat="pl in product.product_lot">{{pl.price_per_unit*product.lot_size}}</span>
            </div>
        </div>
    </div>
</div>

<div layout="row" layout-wrap>
    <div layout="column" layout-align="start start">
        <span>Product Details</span>
        <div layout="row" data-ng-repeat="p in productDetailsKeys">
            <div>
                {{p.label}}
            </div>
            <div>
                {{p.value}}
            </div>
        </div>
    </div>
</div>
