<div class="filler-toolbar" layout="row" layout-align="center start">
    <span class="content-page-title">Return & Refund Policy</span>
</div>
<div layout="row" layout-wrap layout-padding layout-margin class="faq-container" layout-align="space-between start">
    <div flex="65" flex-xs="100" layout="column" class="return-and-refund-table" md-whiteframe="4">
        <div layout="row" class="return-and-refund-heading">
            <span flex="20">Reason</span>
            <span flex="20">Condition</span>
            <span flex="20">If You Want To</span>
            <span flex="20">You Need To</span>
            <span flex="20">You Will Get</span>
        </div>
        <div layout="row" class="return-and-refund-content">
            <span flex="20">
                (No questions asked) No Problem with the purchased goods, but you simply do not want them anymore after purchasing.
(Valid Only for first Purchase)*
            </span>
            <span flex="20">
                Goods are unused and the packaging is intact
                <hr />
                Request a return within 3 days from receiving of the goods
            </span>
            <span flex="20">
                Return all the goods in one order
            </span>
            <span flex="20">
                Return All the Goods
                <hr />
                Bear the returning shipping costs
            </span>
            <span flex="20">
                A full refund (excluding shipping costs)
            </span>
        </div>
        <div layout="row" class="return-and-refund-content">
            <span flex="20">
                Some of the products are damaged but still functional (damage caused by logistics)
            </span>
            <span flex="20">
                Within 3 days from receiving the goods
            </span>
            <span flex="20">
                Return the damaged goods
                <hr />
                Exchange the defected goods
            </span>
            <span flex="20">
                Return the damaged goods
                <hr />
                You Will Bear the Shipping Cost
            </span>
            <span flex="20">
                A full refund for the damaged goods
            </span>
        </div>
        <div layout="row" class="return-and-refund-content">
            <span flex="20">
                Quality problems with the goods
            </span>
            <span flex="20">
                Within 15 days from receiving the goods
            </span>
            <span flex="20">
                Exchange the defected goods
            </span>
            <span flex="20">
                Return the defective goods
            </span>
            <span flex="20">
                New items in exchange for the defective ones.
            </span>
        </div>
    </div>
    <div flex="30" flex-xs="100" layout="column" class="faq-content" md-whiteframe="4">
        <span>Returns affects User Ratings, and might result in decrease of overall rating of Retailer. We might blacklist a buyer if we don’t find the reason of return justified.</span>
        <span>The Replacement of Goods are subject to Manufacturer accepting that the flaw exists. The Exchange is also subject to the availability of certain goods with the manufacturer.</span>
        <span>Purchaser Needs to Upload Photograph of the damaged goods.</span>
    </div>
</div>

<div data-ng-include="'views/footer.html'" flex></div>
