<div layout="row" layout-wrap layout-padding layout-align="center center" class="social-container">
    <div layout="row" flex="100" layout-padding layout-margin layout-align="center center">
        Hey!
    </div>

    <div layout="row" flex="100" layout-margin layout-wrap layout-align="center center">
        <span flex="100">We hope you have got a minute to spare and look at our efforts.</span>
        <span flex="100">We believe manufacturing is an important cause for economic growth. Be it trade or jobs.</span>
    </div>

    <div layout="row" flex="100" layout-margin layout-wrap layout-align="center center">
        <span flex="100">We are trying to help small and medium manufacturers across India in growing by building an <span style="color:#FF5722">e-distribution channel</span> for them.</span>
    </div>

    <div layout="row" flex="100" layout-margin layout-wrap layout-align="center center">
        <span flex="100">Please help us to spread the word so that those who really believe in India's potential can join us in our journey</span>
    </div>

    <div layout="row" layout-wrap flex="100" layout-padding layout-align="center center">
        <span style="font-size: 1.2em;font-weight: bold;font-family: 'Comfortaa';">By following us on</span>
    </div>

    <div layout="row" layout-xs="column" layout-padding class="social-follow-buttons">
        <span data-ng-include="'views/partials/angelListFollow.html'" flex></span>
        <span flex>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fwholdus&width=49&layout=button&action=like&show_faces=true&share=false&height=65&appId" width="49" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </span>
        <span data-ng-include="'views/partials/gPlusFollow.html'" flex></span>
        <span flex data-ng-include="'views/partials/linkedinFollow.html'"></span>
        <span flex>
            <a href="https://twitter.com/wholdus" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a>
			<script type="text/javascript-lazy" wu-script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </span>
    </div>

    <div layout="row" layout-padding flex="100" layout-align="center center" layout-wrap>
        <a href="/" style="color:#FF5722;" flex="100">Wholdus.com</a>
        <span>If you have any suggestions, we would love to connect!</span>
    </div>
</div>

<div wu-footer layout="row"></div>
